<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PortalPage</title>

</head>
<style>
	body {
		background-color: #F76902;
		display: flex;
		flex-wrap: wrap;
	}

	h1 {
		font-size: 70px;
		margin: auto;
		font-family: "Helvetica Neue"
	}

	img {
		margin: auto;
	}

	.container {
		position: absolute;
		width: 100%;
		overflow: hidden;
		padding-top: 56.25%;
		margin: auto;
	}

	video {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		padding-top: 50px;
	}
</style>

<body>
	<img src="{{url_for('static', filename='CAD_hor_k1 1.png')}}" width="720.5px" height="225.5px">
	<h1>Time-Lapse Viewer</h1>
	<div className="container">
		<div className="video">
			<video width="720px" height="480px" cont autoplay muted loop>
				<source src="{{url_for('static', filename='Timelapse.mp4')}}" type="video/mp4">
			</video>
		</div>
	</div>


</body>

</html>